@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Times New Roman', Times, serif;
}


.button{
  display: none;
}
:hover + .button, .button:hover {
  display: inline-block;
}