@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Times New Roman', Times, serif;
  
  box-sizing: border-box;
}


.button{
  display: none;
}
:hover + .button, .button:hover {
  display: inline-block;
}

div.block {
  
  overflow-y: auto;
}
div.block::-webkit-scrollbar {
  display: none;
}